{{> header}}
<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h2 align="center">
<div class="alert alert-danger" role="alert">
{{viewTitle}}
</div>
</h2><br><br><br>
</div>

<div id="form">
<form action="/class" method="post">

<input type="hidden" name="_id" value="{{class._id}}">

    <div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Nombre:</label>
<input type="text" name="name" value="{{class.name}}" class="form-control" placeholder="Ingrese el nombre de la clase"><br>

 <div class="col-12 text-center">
<button type="submit" class="btn btn-danger">Guardar</button>
<a class="btn btn-warning" href="/home">Salir</a>
</div>
</div>
</form>