<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h1 align="center">
<div class="alert alert-primary" role="alert">
Programación computacional IV.
</h1>
</div>
</div>
 <div class="col-12 text-center">
    <a href="/login" class="btn btn-primary btn-lg active">Iniciar Sesión</a>
    <a href="/register" class="btn btn-success btn-lg active">Registrarse</a>
</div>
